
<a href="/game/{{ id }}/hit">Hit</a>

<h1>{{ play.hit ? 'true' : 'false' }}</h1>
<h2>{{ play.maxHealth }} {{ play.progress }}</h2>

<table>
    <thead>
    <tr>
        <th>Building</th>
        <th>Health</th>
        <th>Is Target</th>
        <th>Is Hit</th>
    </tr>
    </thead>
    <tbody>
{%  for building in play.buildings %}
    <tr>
        <td>{{ building.name }}</td>
        <td>{{ building.health }}</td>
        <td>{{ building.isTarget }}</td>
        <td>{{ building.isHit }}</td>
    </tr>
{%  endfor %}
    </tbody>
</table>
